main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.pokemon__name {
  text-align: center;
  margin-bottom: 20px;
}

  .pokemon__name h1 {
    font-size: 36px;
    text-transform: capitalize;
    margin: 0;
  }

.pokemon__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 75%;
  padding: 40px;
}

.pokemon_stats,
.img_container {
  margin-top: 20px;
  text-align: center;
}

  .pokemon_stats h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }

  .pokemon_stats p {
    font-size: 20px;
    color: #666;
    margin-bottom: 10px;
  }

  .img_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.btn {
  padding: 15px 30px;
  background-color: #ffcc00;
  color: blue;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

  .btn:hover {
    background-color: #ffdb4d;
    color: red;
  }

.types-section {
  margin-top: 20px;
  text-align: center;
}

  .types-section h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }

.types-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.type {
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #e91e63;
  color: #fff;
  border-radius: 20px;
}


.pokemon_id {
  margin-top: 20px;
  text-align: center;
}

  .pokemon_id h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }

  .pokemon_id p {
    font-size: 20px;
    color: #666;
    margin-bottom: 10px;
  }

button {
  padding: 5px 5px;
  background-color: #ffcc00;
  color: blue;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

  button:hover {
    background-color: #ffdb4d;
    color: red;
  }
