# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.vs/Pokedex/config/applicationhost.config
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/Pokedex/v17/.wsuo
.vs/Pokedex/FileContentIndex/f6c5c487-c953-4716-b3bd-5493c35b9e26.vsidx
.vs/Pokedex/FileContentIndex/dc8beead-a39b-4574-8d2d-c81c53a51a0b.vsidx
.vs/Pokedex/FileContentIndex/8d179748-a686-444b-827e-719b7b965260.vsidx
.vs/Pokedex/FileContentIndex/142278a4-af02-4ed5-87ac-129432c705ca.vsidx
.vs/Pokedex/FileContentIndex/1071cb2c-0b3e-4539-b8d6-9b447b85f5ab.vsidx
*.vsidx
