.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  
}

  .dashboard button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 206, 49);
    color: blue;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
  }

    .dashboard button:hover {
      background-color: black;
      color: red;
      
    }
