.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  .login-container h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }

.login-form .form-group {
  margin-right: 20px;
}

.login-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 15px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
  margin-top: 15px;
  margin-right:25px;
}

  .login-form button[type="submit"]:hover {
    background-color: #0056b3;

  }

.login-form .error-message {
  color: #ff0000;
  margin-top: 10px;
}

.login-form .btn {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

  .login-form .btn:hover {
    background-color: #0056b3;
  }
