@import './css-config/reset.css';

html {
  background-color: dimgray;
  font-family: 'Open Sans', sans-serif;
}

main {
  width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  position: relative;
  background-image: url('/../../assets/bg.jpg');
}


