<app-header></app-header>

<app-dashboard></app-dashboard>

<main>
  <app-searchbar (searchValueChange)="searchPokemonList($event)"></app-searchbar>
  <br/>
  <div class="private-area">
    <h1>Choose a Pokémon</h1>

    <div class="pokemon-container">
      <div class="pokemon-card" *ngFor="let pokemon of pokemons" (click)="addFavoritePokemon(pokemon)">
        <img [src]="getImageUrl(pokemon.id)" alt="Pokemon Image">
        <h2 [ngStyle]="pokemon.types[0] | nameColor">{{ pokemon.name }}</h2>
      </div>
    </div>
    <br />
    <app-searchbar (searchValueChange)="searchPokemonList($event)"></app-searchbar>
    <br />
    <h2>Favorite Pokémon</h2>
    <div *ngFor="let pokemon of favoritePokemon">
      <p>{{ pokemon.name }}</p>
      <button (click)="deleteFavoritePokemon(pokemon)">Delete</button>
    </div>

    <h2>Add New Pokémon</h2>
    <div>
      <label for="newPokemonId">Pokemon ID:</label>
      <input type="text" id="newPokemonId" [(ngModel)]="newPokemonId">
      <br>
      <label for="newName">Name:</label>
      <input type="text" id="newName" [(ngModel)]="newName">
      <br>
      <button (click)="addPokemon()">Add Pokémon</button>
    </div>
  </div>
</main>

