<app-header></app-header>

<app-dashboard></app-dashboard>
<main>

  <div class="private-area">
    <!-- Existing login area -->

    <h1>Choose a Pokémon</h1>
   
    <div class="pokemon-container">
      <div class="pokemon-card" *ngFor="let pokemon of pokemons" (click)="addFavoritePokemon(pokemon)">
        <img [src]="getImageUrl(pokemon.id)" alt="Pokemon Image">
        <h2 [ngStyle]="pokemon.types[0] | nameColor">{{ pokemon.name }}</h2>
      </div>
    </div>


    <h2>Favorite Pokémon</h2>
    <div *ngFor="let pokemon of favoritePokemon">
      <p>{{ pokemon.name }}</p>
      <button (click)="deleteFavoritePokemon(pokemon)">Delete</button>
      <button (click)="updateFavoritePokemon(pokemon)">Update</button>
      <input type="text" [(ngModel)]="newName" placeholder="New name">
      <button (click)="saveNewName()">Save</button>
    </div>

    <h2>Add New Pokémon</h2>
    <div>
      <input type="number" [(ngModel)]="newPokemonId" placeholder="ID">
      <input type="text" [(ngModel)]="newName" placeholder="Name">
      <button (click)="addNewPokemon()">Add</button>
    </div>

  </div>

</main>
